Repository EOSIO/welcome, pull requests merged in 2020-05, with the labels that each got.

#177 Add EOSlime to community dev tools list
  docs/05_community-developer-tools/index.md
Labels: devtoollist

#209 make directory names consistent throughout the entire tutorial
  docs/03_tutorials/bios-boot-sequence.md
Labels: docs, improvement

#211 Corrected struct name
  docs/02_getting-started/03_smart-contract-development/05_secondary-indices.md
Labels: docs
