Repository EOSIO/welcome, pull requests merged in 2020-04, with the labels that each got.

#175 Adding LICENSE file to the welcome repo
  LICENSE
Labels: License file

#173 block ID description correction
  docs/04_protocol/03_network_peer_protocol.md
Labels: docs

#171 Schema description updates in transactions protocol.
  docs/04_protocol/02_transactions_protocol.md
Labels: docs

#181 Fix a name typo in eosio.cdt installation tutorial
  docs/02_getting-started/02_development-environment/04_install-the-CDT.md
Labels: docs

#183 Removed attribute to keep consistent wording
  docs/02_getting-started/02_development-environment/04_install-the-CDT.md
  docs/02_getting-started/03_smart-contract-development/01_hello-world.md
Labels: broken link, docs, enhancement
