Repository EOSIO/welcome, pull requests merged in 2020-06, with the labels that each got.

#230 Fix total number of EOSIO accounts formula
  docs/04_protocol/04_accounts_and_permissions.md
Labels: docs

#206 Added a new term Retired Action to glossary
  glossary.yaml
Labels: docs

#231 Add elemental battles left navigation menu
  docs/03_tutorials/10_bios-boot-sequence.md
  docs/03_tutorials/20_tic-tac-toe-game-contract.md
  docs/03_tutorials/30_elemental-battles.md
  docs/03_tutorials/index.md
Labels: docs, navigation

#178 Add eosx.io block explorer to community dev tools page
  docs/05_community-developer-tools/index.md
Labels: devtoollist

#232 Fix SimpleAssets Github URL
  docs/05_community-developer-tools/index.md
Labels: docs

#222 Hello World Contract: New headings and structural suggestions
  docs/02_getting-started/03_smart-contract-development/01_hello-world.md
Labels: docs
